@model DistanceEducation.Models.Lecturer

@{
    ViewData["Title"] = "Ифнормация о лекторе";
}

<h1>@ViewData["Title"]</h1>

<div>
    <hr />
    <div class="row">
        <div class="co-md-7">
            <div class="row align-items-center">
                <div class="col-2 text-end">
                    <h4>@Html.DisplayNameFor(model => model.Id)</h4>
                </div>
                <div class="col-5 text-start">
                    <h5>@Html.DisplayFor(model => model.Id)</h5>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2 text-end">
                    <h4>@Html.DisplayNameFor(model => model.UserName)</h4>
                </div>
                <div class="col-5 text-start">
                    <h5><span class="fild">@Html.DisplayFor(model => model.UserName)</span>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2 text-end">
                    <h4>@Html.DisplayNameFor(model => model.Email)</h4>
                </div>
                <div class="col-5 text-start">
                    <h5> <span class="fild">@Html.DisplayFor(model => model.Email)</span></h5>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2 text-end">
                    <h4>@Html.DisplayNameFor(model => model.Name)</h4>
                </div>
                <div class="col-5 text-start">
                    <h5> <span class="fild">@Html.DisplayFor(model => model.Name)</span></h5>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-2 text-end">
                    <h4>@Html.DisplayNameFor(model => model.Surname)</h4>
                </div>
                <div class="col-5 text-start">
                    <h5> <span class="fild">@Html.DisplayFor(model => model.Surname)</span></h5>
                </div>
            </div>
        </div>
    </div>
        <div>
            <button class="btn btn-p btn-primary"> <a class="text-decoration-none text-light" asp-action="EditLecturer" asp-route-ID="Model.Id">Изменить</a></button>
            <button class="btn btn-secondary"><a class="text-decoration-none text-light" asp-action="Lecturers">Назад</a></button>
        </div>
</div>
