@model DistanceEducation.Models.Test

<table class="table">
    <thead>
        <tr>
            <th>
                Имя студента
            </th>
            <th>
                Фамилия студента
            </th>
            <th>
                Группа
            </th>
            <th>
                Оценка
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Results)
        {
            <tr>
                <td>
                    @item.Student.Name
                </td>
                <td>
                    @item.Student.Surname
                </td>
                <td>
                    @item.Student.Group.Name
                </td>
                <td>
                    @item.Mark.ToString("F2")<span>/</span>@ViewBag.maxMark
                </td>
            </tr>
        }
    </tbody>
</table>
