@model DistanceEducation.Models.Test

@{
    ViewData["Title"] = "TestInfo";
    double maxMark = ViewBag.maxMark;
    int result = ViewBag.Result;
    var resultMark = ViewBag.ResultMark;
    bool isEditor = ViewBag.isEditor;
    DateTime nowDateTime = DateTime.Now;
}



<div>
    <div class="text-start">
        <h1>@Html.DisplayFor(model => model.Name)</h1>
        <h4>@Html.DisplayFor(model => model.Description)</h4>
    </div>
    <hr />
    <div class="row align-items-center">
        <div class = "col-5">
            <div class="row">
                <div class="text-center text-20">
                    <h6>Дата начала теста: @Html.DisplayFor(model => model.TimeStart)</h6>
                </div>

                <div class="text-center">
                    <h6>Дата окончание теста: @Html.DisplayFor(model => model.TimeEnd)</h6>
                </div>

                <div class="text-center">
                    <h6>Продолжительность теста: @Html.DisplayFor(model => model.Length) мин.</h6>
                </div>
            </div>
        </div>
        <div class="col-7 text-center ">
            @if (isEditor)
            {
                <h3>Не оценёных работ: @ViewBag.Count</h3>
                <button class="btn btn-success"><a class="text-decoration-none text-light" asp-action="RateTheWorks" asp-route-Id="@Model.Id">Оценить</a></button>
            }
            else if (result == 0)
            {
                <h2><b>Оценка: @resultMark/@maxMark</b></h2>
            }
            else if (result == 1)
            {
                <h2><b>На оценивании</b></h2>
            }
            else if (result == 2)
            {
                if (nowDateTime > Model.TimeEnd)
                {
                    <h2><b>Тестирование завершено</b></h2>
                }
                else if (nowDateTime < Model.TimeStart)
                {
                    <h2><b>Тестирование ещё не началось</b></h2>
                }
                else
                {
                    <h2><b>Не пройден</b></h2>
                }
            }
            else
            {
                <h2><b>ERROR</b></h2>
            }
        </div>
    </div>
    <div class= "row gy-1 text-center">
        @if (result == 2 && !(isEditor))
        {
            if (nowDateTime <= Model.TimeEnd && nowDateTime >= Model.TimeStart)
            {
                <div>
                    <button class="btn btn-primary btn-lg"><a class="text-light text-decoration-none" asp-controller="Test" asp-action="Test" asp-route-ID="@Model.Id">Пройти тест</a></button>
                </div>
            }

        }
        else if (isEditor)
        {
            <br/>
            <div id="ListResults" >
                @Html.Partial("ListResults", Model)
            </div>
        }
    </div>
</div>
<div>
    <a asp-action="Course" asp-controller="Course" asp-route-ID="@ViewBag.Course.Id">Назад к курсу</a>
</div>
