@model DistanceEducation.Models.AddQuestion

<table class="table">
    <thead>
        <tr>
            <th>
                Ответ №
            </th>
            <th>
                Ответ
            </th>
            <th>
                Верный ответ
            </th>
            <th colspan="2">

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @if (ViewBag.OptionTF)
        {
            foreach (var item in ViewBag.Options)
            {
                <tr>
                    <td>
                        Ответ @i
                    </td>
                    <td>
                        @item.OptionTrueFalse.Text
                    </td>
                    <td>
                        @if (item.OptionTrueFalse.Correct)
                        {
                            <span>+</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-danger"><a class="text-decoration-none text-light" asp-action="Delete" asp-route-ID="@Model.Id" asp-route-backId="@Model.Id" asp-route-partId="4">Удалить</a></button>
                    </td>
                </tr>
                i += 1;
            }
        }
        else
        {
            @foreach (var item in ViewBag.Options)
            {
                <tr>
                    <td>
                        Вопрос @i
                    </td>
                    <td>
                        @item.Text
                    </td>
                    <td>
                        @if (item.Correct)
                        {
                        <span>+</span>
                        }
                    </td>
                    <td>
                        <button class="btn btn-p btn-primary"><a class="text-decoration-none text-light" asp-action="EditOption" asp-route-optionId="@item.Id">Изменить</a></button>
                        <button class="btn btn-danger"><a class="text-decoration-none text-light" asp-action="Delete" asp-route-ID="@item.Id" asp-route-backId="@Model.Id" asp-route-partId="3">Удалить</a></button>
                    </td>
                </tr>
                i += 1;
            }
        }

    </tbody>
</table>
