@model DistanceEducation.Models.AddTest
<table class="table">
    <thead>
        <tr>
            <th>
                Вопрос №
            </th>
            <th>
                Тип вопроса
            </th>
            <th>
                Стоимость вопроса
            </th>
            <th colspan="2">

            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var item in ViewBag.Questions)
        {
            <tr>
                <td>
                    Вопрос @i
                </td>
                <td>
                    @foreach (var t in ViewBag.Types)
                    {
                        if (t.Id == @item.QuestionTypeId)
                        {
                            @t.Name
                        }
                    }
                    
                </td>
                <td>
                    @item.Cost
                </td>
                <td>
                    <button class="btn btn-p btn-primary"><a class="text-decoration-none text-light" asp-action="EditQuestion" asp-route-questionId="@item.Id">Изменить</a></button>
                    <button class="btn btn-danger"><a class="text-decoration-none text-light" asp-action="Delete" asp-route-ID="@item.Id" asp-route-backId="@Model.Id" asp-route-partId="2">Удалить</a></button>
                </td>
            </tr>
            i += 1;
        }
    </tbody>
</table>
