@model DistanceEducation.Models.Course

@{
    ViewData["Title"] = "Course";
    bool isEditor = ViewBag.isEditor;
}


<div>
    @if (isEditor)
    {
        <div class="align-items-start text-end">
            Редактировать курс
        </div>
    }

    <div>
        <h1>@Html.DisplayFor(model => model.Name)</h1>
    </div>

    <div>
        @Html.DisplayFor(model => model.Text)
    </div>
</div>

<hr/>

<div>
    @if (ViewBag.Tests != null)
    {
        <div>
            <h3>Доступные тесты</h3>
        </div>
        <div class="container">
            @foreach (var item in ViewBag.Tests)
            {
                <div class="row text-start justify-content-start">
                    <div class="col-7 text-start">
                        <h4>
                            <a class="text-decoration-none align-middle" asp-controller="Test" asp-action="TestInfo" asp-route-id="@item.Id">@item.Name</a>
                        @if (isEditor)
                        {
                                <a asp-action="EditTest" asp-route-courseId="@Model.Id" asp-route-testId="@item.Id"><img style="width:3%;" src="@Url.Content("~/img/Edit.png")" /></a>
                        }
                        </h4>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>
            <h5>Доступных тестов сейчас нет</h5>
        </div>
    }
</div>
@if (isEditor)
{
    <div class="text-center align-items-center">
        <button class="btn btn-primary"><a class="text-decoration-none text-light" asp-controller="Course" asp-action="AddTest" asp-route-courseId="@Model.Id">Добавить тест</a></button>
    </div>
}
<div>
    <a asp-action="Index">Назад</a>
</div>
